:scope {
  padding: 0;
}

.section {
  margin: 4ex auto 3ex;
  max-width: var(--BASE-CONTAINER-WIDTH);
  padding-left: var(--BASE-SPACING);
  padding-right: var(--BASE-SPACING);
}

.featured {
  display: block;
  padding-left: var(--BASE-SPACING);
  padding-right: var(--BASE-SPACING);
  width: 100%;
  max-width: calc( var(--BASE-CONTAINER-WIDTH) + 16em );
  margin-left: auto;
  margin-right: auto;
}

.featuredImg {
  width: 100%;
  height: auto;
  display: block;
  border: 1px solid #ccc;
}