:scope {
  max-width: var(--BASE-CONTAINER-WIDTH);
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-weight: 600;
  letter-spacing: -1px;
  font-style: italic;
  font-size: 3rem;
  line-height: 2.5ex;
  margin: 1ex auto .5ex;
  text-align: left;
}

.reveal {
  font-weight: 700;
}