:scope {
  max-width: 60ch;
  padding: var(--BASE-SPACING);
  margin: 0 auto;

}

.hello {
  font-weight: 600;
  letter-spacing: -1px;
  font-style: italic;
  font-size: 3rem;
  margin: .75em auto;
  text-align: center;
}