:scope {
  --resume-grid: 1fr;
}

@media screen and (min-width: 600px) {
  :scope {
    --resume-grid: minmax(24ch, 1fr) minmax(24ch, 2fr);
  }
}

@media print {
  :scope {
    --resume-grid: minmax(24ch, 1fr) minmax(24ch, 2fr);
  }
}

/**** 
 ** Section
 ****/

.sectionTitle {
  font-family: var(--BASE-FONT-FAMILY-SANS);
  text-align: left;
  font-size: 1.25rem;
  font-weight: 600;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--BASE-BORDER-COLOR);
  padding-bottom: 1ex;
  page-break-after: avoid;
  page-break-before: auto;
  page-break-inside: avoid;
  break-before: auto;
  break-after: avoid;
  break-inside: avoid;
}

@media screen and (min-width: 600px) {
  .sectionTitle {
    letter-spacing: -1px;
  }
}

.experience, .education, .contributions {
  margin: 1.25rem auto 3ex;
  max-width: var(--BASE-CONTAINER-WIDTH);
}

.responsibilities {
  margin-top: 0;
}

.contributions {
  page-break-inside: avoid;
  page-break-after: avoid;
  page-break-before: auto;
  break-inside: avoid;
  break-after: avoid;
  break-before: auto;
}

.education {
  page-break-inside: avoid;
  page-break-after: avoid;
  page-break-before: auto;
  break-inside: avoid;
  break-after: avoid;
  break-before: auto;
}

.resumeDegree {
  display: grid;
  grid-column-gap: 1rem;
  grid-template-columns: var(--resume-grid);
  width: auto;
  margin-left: auto;
  margin-right: auto;
  float: none;
  align-items: baseline;
}

.details {
  page-break-inside: avoid;
  page-break-after: avoid;
  page-break-before: avoid;
  break-inside: avoid;
  break-after: avoid;
  break-before: avoid;
  grid-column-end: -1;
}

.contributionList {
  display: grid;
  grid-column-gap: 1rem;
  grid-template-columns: var(--resume-grid);
}

.contributionList__item {
  grid-column-end: -1;
}

.organizationName {
  font-size: 1rem;
  font-weight: 200;
  margin-bottom: .125ex
}

@media screen and (min-width: 600px) {
  .organizationName {
    order: -1;
  }
}

@media print {
  .organizationName {
    order: -1;
  }
}

.organizationURL {
  color: #333;
}

.degree {
  font-weight: 700;
  margin-bottom: 1ex;
}

.meta {
  page-break-inside: avoid;
  page-break-after: avoid;
  page-break-before: avoid;
}

@media screen and (min-width: 600px) {
  .meta {
    transform: translateY(-.75ex);
  }
}

.location {
  font-size: .8em;
  margin-bottom: 0;
}

.dates {
  font-size: .8em;
  font-style: italic;
}