@external .current;

:scope {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: flex-start;
}
@media print {
  :scope {
    display: none;
  }
}

.link {
  margin-right: 2ch;
}

.link::after {
  top: -2.625ex;
  width: calc(100% + 2ch);
  left: -1ex;
}

.link:hover::after {
  --height: calc(100% + 3ex);
}

.link:last-of-type {
  margin-right: 0;
}