:scope {
  --background-color: 16, 141, 184;
  width: 100%;
  background-color: rgb(var(--background-color));
  overflow: hidden;
}

.link {
  --primary-color: #fff;
  padding: 1rem;
  display: inline-block;
}