:scope {--resume-grid: repeat(1fr)}

@media screen and (min-width: 600px) {
  :scope {--resume-grid: minmax(12ch, 1fr) minmax(24ch, 2fr)}
}

:scope {
  grid-column-gap: 40px;
  grid-row-gap: 10px;
  grid-template-columns: var(--resume-grid);
  width: auto;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  float: none;
  max-width: var(--BASE-CONTAINER-WIDTH);
  align-items: baseline;
}

.divider {
  display: block;
  border: none;
  page-break-before: auto;
  page-break-after: avoid;
  grid-column-start: 1;
  grid-column-end: -1;
  border-bottom: 1px solid var(--BASE-BORDER-COLOR);
  width: 100%;
}

.meta {
  grid-column-start: 1;
  grid-column-end: 2;
  font-size: .8em;
}

.details {
  grid-column-start: 2;
  grid-column-end: -1;
}

.location {
  margin: 0;
  font-weight: 700;
}

.dates {
  font-style: italic;
  margin-bottom: 0;
}

.title {
  margin: 0;
  font-weight: 700;
  font-size: .8em;
}

.company {
  font-size: 1.25em;
  color: #112;
  text-decoration: none;
  margin-top: 0;
}

.description {
  display: block;
}
